.panel {
    display: flex;
    color: #00685A;
    margin-top: 5px;

    &__list {
        display: flex;

        &>li {
            cursor: pointer;
            transition: .1s ease-in-out;
            margin-left: 10px;

            &:hover {
                color: #00A08A;
            }
        }

        &_active {
            color: #00A08A;
            text-decoration: underline;
        }
    }
}