@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

button {
    padding: 10px;
    background: #33CEC3;
    color: #FFF;
    text-transform: uppercase;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease-in-out;

    &:hover {
        background: #009D91;
    }

    &:focus {
        outline: none;
    }
}

h2 {
    font-size: 18px;
}

input,
textarea {
    padding: 5px;
    border: 1px solid #33CEC3;

    &:focus {
        outline: none;
    }
}

textarea {
    resize: vertical;
}

li {
    list-style: none;
}

a {
    pointer-events: none;
}